
#show_btn {
  display: none;
  background-color: transparent;
}

#show_btn:hover {
  border: 1px solid lightgray;
}
.site-map .nav-link:hover {
  color: yellow;
}
.sliderMain{
  display: grid;
  grid-template-columns:65% 35%;
}
#mainHero{
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width:991px) {
  #show_btn {
    display: block;
  }
  .sliderMain{
    grid-template-columns:100%;
  }
}